<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day3result page</title>
</head>
<body>
    <h2>This is the Day3 Result Page </h2>
    <table>
        <tr>
            <th>Name : {{name}}</th>
        </tr>
        <tr>
            <td>Email : {{email}}</td>
        </tr>
        <tr>
            <td>
                Password : {{passored}}
            </td>
        </tr>
        <tr>
            <td>mobile number : {{number}}</td>
        </tr>
    </table>
</body>
</html>