<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h2>index page</h2>
    <form action="/" method="POST">
        <label for="">Name: </label>
        <input type="text" name="username" placeholder="Enter name here">
        <label for="">Favourite color: </label>
        <input type="text" name="color" placeholder="Enter color name">
        <button type="submit">click here to Submit</button>
    </form>
    

</body>
</html>