<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <center>
    <h1 style='color:aqua;'>This is an index page of khushi</h1>
    <form action="/" method="POST">
        <label for="name">What is your name?</label>
        <input style="font-size: large;" type="text" name="input_name" placeholder="Enter your name here">
        <br><br><hr>
        <button style="margin-top: px;" type="submit">Click here to go to about page</button>
    </form>
</center>
    
</body>
</html>