<!doctype html>
<html>
<head>
    <title>Home</title>
    <style>
       .button{
          border: brown;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: crimson;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
       }
    </style>
</head>
   <body bgcolor="powderred">
    <form action="/index" method="GET">
       <h1 align="center">this is index page!</h2>
      <p style="color: blue;">This is web page for creating forms  and taking details of student!!</p>
       <button type="submit">submit</button>
    </form>
      
   </body>
</html>