<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h3>This is home page</h3>
    <form action="/" method="POST">
        <input type="text" name="username" placeholder="Enter your name">
        <input type="text" name="age" placeholder="Enter your age">
        <button type="submit">Submit</button>
    </form>
</body>

</html>