<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 style="color: blue;"> This is an index file</h1>
    <form action='/process' method='POST'>
        <label for="name"> Your name</label>
        <input type="text" name="get_name"><br><br>
        <button type="submit"> click here</button>
    </form>
</body>
</html>