<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <style>
        .button{
           border: brown;
           color: white;
           padding: 15px 32px;
           text-align: center;
           text-decoration: crimson;
           display: inline-block;
           font-size: 16px;
           margin: 4px 2px;
           cursor: pointer;
        }
     </style>
</head>
<body bgcolor="powderblue">
    <form action='/' method='POST'>
        <h1 style="color:rgb(255, 60, 0);">Student Form !!</h1>
        <h2 style="color: black;">Thanks for taking time for help us to improve the platform</h2>
        <label for="name">Name</label><br>
        <input type="text" placeholder="Enter name", name="name"><br><br>
        <label for="phone">Phone no.</label><br>
        <input type="text" placeholder="Enter phone", name="phone"><br><br>
        <label for="email">Email</label><br>
        <input type="text" placeholder="Enter Email", name="email"><br><br>
        <label for="age">Age</label><br>
        <input type="text" placeholder="Enter age", name="age"><br><br>
        <label for="stream">stream</label><br>
        <input type="text" placeholder="Enter you stream", name="stream"><br><br>
        <label for="address">address</label><br>
        <input type="text" placeholder="Enter you address", name="address"><br><br>

        <input type="submit" value="SUBMIT">
    </form>  
</body>
</html>