<!DOCTYPE html>
<html lang="en">
<head>
    <title>Form</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
      body{
        background-image: url({{url_for('static',filename='images/img5.jpg')}});
        background-size: cover;
      }
    </style>
</head>
<body>
    <form action='/' method='POST'>
        <h1 style="color:rgb(255, 60, 0);">Student Form !!</h1>
        <h2 style="color: black;">Thanks for taking time for help us to improve the platform</h2>
        <label for="name">Name</label><br>
        <input type="text" placeholder="Enter name", name="name"><br><br>
        <label for="phone">Phone no.</label><br>
        <input type="text" placeholder="Enter phone", name="phone"><br><br>
        <label for="email">Email</label><br>
        <input type="text" placeholder="Enter Email", name="email"><br><br>
        <label for="age">Age</label><br>
        <input type="text" placeholder="Enter age", name="age"><br><br>
        <label for="stream">stream</label><br>
        <input type="text" placeholder="Enter you stream", name="stream"><br><br>
        <label for="address">address</label><br>
        <input type="text" placeholder="Enter you address", name="address"><br><br>

        <input type="submit" value="SUBMIT">
    </form>  
</body>
</html>