<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>This is a calculator</h1>
    <form action="/" method="POST">
        <input type="number" name="num1" placeholder="Enter num1" id="">
        <input type="number" name="num2" placeholder="Enter num2" id="">
        <button type="submit">Add</button>
    </form>
</body>

</html>