<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Survey Form</h1>
    <form action="/" method="POST">
        
        <label> Enter Your Name </label>
        <input type="text" name="name"><br><br>
        <label> Enter Your Age</label>
        <input type="number" name="age"><br><br>

        <label> Contact no.: </label>
        <input type="text" value="+91" size="2" name="cnum" >
        <input type="text" size="10" name="cnum" ><br><br>

        <label> Date of Birth</label>
        <input type="date" name="date" ><br><br>
       
        <label> Email address: </label>
        <input type="email" name="email" ><br><br>

        <label> Password: </label>
        <input type="password" name="password"><br><br> 

        <label>Address:</label>
        <textarea cols="30" rows="5" name="address"></textarea>
        </textarea><br><br>

        <label> Gender: </label>
        <input type="radio" name="gender" value="Male"> Male
        <input type="radio" name="gender" value="Female">Female<br><br>

        <label> City: </label>
        <select name="city">
            <option> Delhi </option>
            <option> Mumbai </option>
            <option> Punjab </option>
        </select><br><br>
        <button> Click here</button>
    </form>
</body>
</html>