<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <center>

        <h1 style="color:red;">This is an index page </h1>
        <form action="/process" method="POST">
            <label for="name">What is your name?</label>
            <input style="font-size: large; margin-top: 50px;" type="text" name="input_name" placeholder="Enter your name here">
            <br><br>
            <label for="name">What is your age?</label>
            <input style="font-size: large; margin-top: 50px;" type="text" name="input_age" placeholder="Enter your age here">
            <br>
            
        
            <label for="name">What is your gender?</label>
            <input style="font-size: large; margin-top: 50px;" type="text" name="input_gender" placeholder="Enter your age here">
            <br>

            <label for="name">What is your Fev food ?</label>
            <input style="font-size: large; margin-top: 50px;" type="text" name="input_food" placeholder="Enter your age here">
            <br>
            <button style="margin-top: 50px;" type="submit">Click here to go to the about page</button>
        </form>
    </center>
</body>

</html>