<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <div style="text-align: center;">
    <form action='/' method="POST" >
        <input type="text" name="num1" placeholder="enter first number"><br><br>
        <input type="text" name="num2" placeholder="enter second number"><br><br>
        <select name="option" >
            <option value="Addition">Addition</option>
            <option value="Subtraction">Subtraction</option>
            <option value="Division">Division</option>
            <option value="Multiplication">Multiplication</option>
        </select>
        <a href="/"></a>
        <button type="submit">Calculate</button>
        </a>
        </div>

    </form>
</body>
</html>