<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <form action='/' method="POST" >
        <input type="number" name="num1" placeholder="enter first number">
        <input type="number" name="num2" placeholder="enter second number">
        <select name="option" >
            <option value="Addition">Addition</option>
            <option value="Subtraction">Subtraction</option>
            <option value="Division">Division</option>
            <option value="Multiplication">Multiplication</option>
        </select>

    </form>
</body>
</html>