<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div style="text-align: center;">
        <form action="/process" method="POST">
            <label for="name">Name: </label>
            <input type="text" name="name" placeholder="Enter your Name">
            <label for="email">Email: </label>
            <input type="email" name="email" placeholder="Enter Email-id">
            <label for="number">Number: </label>
            <input type="number" name="number" placeholder="Enter Phone number">
            <label for="age">Age: </label>
            <input type="number" name="age">
            <label for="gender">Gender</label>
            <select name="gender" id="">
                <option value="male">Male</option>
                <option value="Female">Female</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>