<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    
    <h2> Calculater </h2>
    <form action="/" method="POST">
    <label>Enter First Number </label><br>
    <input type="text" name="fnum" ><br><br>
    <label> Enter Second Numbe</label><br>
    <input type="text" name="snum"><br><br>
    <label> choice </label><br>
    <select name="calculator" >
        <option> Addition</option>
        <option>Subtraction</option>
        <option>Multiplication</option>
        <option> Division</option>
    </select><br><br>
    <button class="result"> Result </button>
    </form>
</body>
</html>