<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Variables</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h2>Converter types</h2>

    <table>
        <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Use</th>
        </tr>
        <tr>
            <td>string</td>
            <td>(default) accepts any text without a slash</td>
            <td>
                string:value
            </td>
        </tr>
        <tr>
            <td>int</td>
            <td>accepts positive integers</td>
            <td>int:value</td>
        </tr>
        <tr>
            <td>float</td>
            <td>accepts positive floating point values</td>
            <td>float:value</td>
        </tr>
        <tr>
            <td>path</td>
            <td>like string but also accepts slashes</td>
            <td>path:value</td>
        </tr>
        <tr>
            <td>uuid</td>
            <td>accepts UUID strings</td>
            <td>uuid:value</td>
        </tr>

    </table>

</body>

</html>