<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="">
        <input type="text" name="num1">
        <input type="text" name="num2">
        <select name="option" id="">
            <option value="Addition">Addition</option>
            <option value="Subtraction">Subtraction</option>
        </select>
    </form>
</body>

</html>