<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;color:blue">This is an Index page</h1>
    <form action="/process" method="POST">
        <label for="name">What is your name</label>
        <input style="font-size: larger;" type="text" name="input_name" placeholder="Enter name">
        <button style="margin: 200px;" type="submit" >Click here to go to the about page</button>
    </form>
</body>
</html>